@use "../../../colors" as c;

footer {
  margin: 0 0 1rem;

  hr {
    margin: 1rem 0;
    color: c.$white;
  }

  .foot-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;

    .foot-flags {
      display: flex;
      align-items: flex-end;
      margin: 0.5rem 0 0 0;

      svg:nth-child(even) {
        margin: 0 0 0 1rem;
      }
    }
  }

  .foot-btm {
    color: c.$white;
  }
}
