@use "../../../colors" as c;

footer {
  margin: 0 0 1rem;

  hr {
    margin: 1rem 0;
    color: c.$white;
  }

  .foot-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 200;
  }

  .foot-flags {
    display: flex;
    align-items: flex-end;

    svg:nth-child(even) {
      margin: 0 0 0 1rem;
    }
  }

  .foot-btm {
    display: flex;
    justify-content: space-between;
    color: c.$white;

    a {
      color: c.$white;
      margin: 0 0 0 0.3rem;
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 0 0 0 1rem;

    .foot-grid,
    .foot-btm {
      flex-direction: column;
    }
  }
}
