.work-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .work-info-container {
    width: 100%;
    min-height: 100%;
    background-color: rgba(26, 25, 32, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .work-info-element {
      height: 100%;
      background-color: #fff;
      margin: 0 15%;
      border: 3rem solid #fff;
      border-radius: 0.3rem;

      section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 3rem;

        .work-info-details {
          h1 {
            color: #1a1920;
            font-size: 2rem;
            font-weight: 600;
          }

          span {
            margin: 0.2rem 0.3rem 0.2rem 0;
          }

          div {
            margin: 0 0 1rem;

            span {
              color: #1c1d25;
            }
          }

          .work-info-labels {
            margin: 0 0 1rem;
            display: flex;
            flex-wrap: wrap;

            span {
              color: #fff;
              background-color: #4a4a4a;
              padding: 0.5rem;
              border-radius: 0.3rem;
            }
          }
        }

        .work-info-details-links {
          span {
            color: #1a1920;
          }

          a:nth-child(even) {
            margin: 1rem 0;
          }
        }
      }

      .work-info-desc {
        h3 {
          color: #1a1920;
          font-size: 1.5rem;
          font-weight: 600;
        }

        p {
          color: #1c1d25;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .work-info-container-back {
    left: 0.3rem;
    top: 0.3rem;
  }

  .work-info-element {
    width: 90%;
    border-width: 1rem 1.5rem;

    section {
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 0 1rem;
    }
  }
}
