.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 300;

    span {
      color: #c97eda;
      font-weight: 400;
    }
  }

  span {
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
    margin: 0 0 1rem 0;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    button {
      margin: 0 1rem 0 0;
    }
  }
}

@media (max-width: 768px) {
  .main-container {
    margin: 0 0 0 1rem;

    h1,
    span {
      font-size: 2rem;
    }

    .main-container-menu {
      display: none;
    }
  }
}