@use "../../../colors" as c;

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  h1,
  span {
    font-size: 2rem;
    font-weight: 400;
    color: c.$white;

    span {
      font-weight: 400;
      color: c.$light_yellow;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    button {
      margin: 1rem;
    }
  }

  .main-container-menu {
    display: none;
  }

  @media (min-width: 768px) {

    h1,
    span {
      font-size: 3rem;
    }

    .main-container-menu {
      display: block;
    }
  }
}
