@use "../../../colors" as c;

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  span {
    font-size: 3rem;
    font-weight: 300;
  }

  h1 {
    color: c.$white;

    span {
      color: c.$fourth;
      font-weight: 400;
    }
  }

  span {
    color: c.$white;
    margin: 0 0 1rem 0;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    button {
      margin: 0 1rem 0 0;
    }
  }
}

@media (max-width: 768px) {
  .main-container {

    h1,
    span {
      font-size: 2rem;
    }

    .main-container-menu {
      display: none;
    }
  }
}
