header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;

  svg {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    svg {
      display: block;
      margin: 0 1rem 0 0;
    }
  }
}