@use "../../../colors" as c;

.mobile-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: c.$fifth;

  .mobile-menu-content {
    width: 100%;
    height: 100%;
    background-color: c.$secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      right: 1.3rem;
      top: 1.3rem;
    }

    a,
    button {
      font-size: 2rem;
      font-weight: 600;
      color: c.$white;
      margin: 0 1em 0 0;
    }

    button {
      background-color: transparent;
      border: none;
    }
  }
}
