@use "../../../colors" as c;

$full: 100%;
$padding: 1.3rem;

.mobile-menu-bg {
  position: fixed;
  width: $full;
  height: $full;
  top: 0;
  left: 0;
  background-color: c.$aqua;

  .mobile-menu-content {
    background-color: c.$plum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $full;
    height: $full;

    svg {
      position: absolute;
      right: $padding;
      top: $padding;
    }

    a,
    button {
      font-size: 2rem;
      font-weight: 600;
      color: c.$white;
      margin: 0 1em 0 0;
    }

    button {
      background-color: transparent;
      border: none;
    }
  }
}
