$fw-xs: 200;
$fw-s: 300;
$fw-r: 400;
$fw-m: 500;
$fw-b: 700;

$fs-s: 1.2em;
$fs-r: 1.5em;
$fs-m: 1.8em;
$fs-b: 2.3em;
$fs-xb: 3em;
$fs-xxb: 3.5em;
$fs-xxxb: 4em;

$p-xs: 0.3em;
$p-s: 0.5em;
$p-r: 0.6em;
$p-rm: 1em;
$p-m: 1.5em;
$p-b: 2em;
$p-xb: 7em;

$color-main: #232323;
$color-second: #15cfc8;
$color-third: #eca5a5;
$color-fourth: #694949;
$color-white: #fff;
$color-transparent: rgba(0, 0, 0, 0.2);
$color-semi-transparent: rgba(0, 0, 0, 0.5);