@use "../../../colors" as c;

.about-left,
.about-right {
  width: 30%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  min-height: 30%;
  text-align: left;

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: justify;
  }
}

.about-left {
  background-color: c.$white;

  h1 {
    color: c.$plum;
  }

  span,
  p {
    color: c.$blue_gray;
  }

  span {
    font-size: 0.75rem;
    font-weight: 300;
    font-style: italic;
  }

  .about-left-labels {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1.1rem;

    span:nth-child(even) {
      margin: 0 0 0 1rem;
    }
  }
}

.about-right {
  background-color: c.$blue_gray;

  .about-right-header,
  .about-left-labels {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-right-header {
    justify-content: space-between;
    user-select: none;

    h1 {
      color: c.$white;
    }
  }

  .about-right-labels {
    justify-content: flex-start;
    flex-wrap: wrap;

    .about-right-label {
      color: c.$white;
      font-size: 1rem;
      margin: 0 1rem 1rem 0;
    }
  }

  .about-right-links {
    a:nth-child(even) {
      margin: 0.5rem 0;
    }
  }
}

@media (max-width: 768px) {

  .about-left,
  .about-right {
    width: 100%;
    padding: 0;

    h1,
    p,
    a {
      padding: 0 1rem;
      margin: 0;
    }

    span {
      padding: 0 1rem;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .about-left {
    min-height: 50%;
    padding: 1.3rem 0 3rem;

    .about-left-labels {
      span:nth-child(even) {
        margin: 0;
      }
    }
  }

  .about-right {
    height: 100%;
    padding: 1rem 0 0 0;

    .about-right-labels {
      margin: 0 0 1rem;

      .about-right-label {
        margin: 0;
      }
    }
  }
}
