@use "../../../colors" as c;

.cv-item {
  width: 30%;
  height: fit-content;
  background-color: c.$secondary;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  a {
    color: c.$white;
    text-decoration: none;
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .cv-item {
    width: 75%;
  }
}
