@import url("https://api.fonts.coollabs.io/css2?family=Poppins:wght@300;500;600;700&display=swap");

@import url("./components/sections/header/Header.scss");
@import url("./components/sections/main/Main.scss");
@import url("./components/sections/work/Works.scss");
@import url("./components/sections/work/WorkSingle.scss");
@import url("./components/sections/work/WorkInfo.scss");
@import url("./components/sections/mobileMenu/MobileMenu.scss");
@import url("./components/sections/about/About.scss");
@import url("./components/sections/cv/CV.scss");
@import url("./components/sections/footer/Footer.scss");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;

  a:hover,
  svg:hover,
  button:hover {
    filter: brightness(85%);
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

body {
  margin: 0 15%;
  font-size: 1em;
  background-color: #1c1d25;
  background-image: url("../public/assets/background.svg");
  background-attachment: fixed;
  background-size: cover;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #1a1920;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100vh;
}

/* Common */
.common-btn {
  background-color: transparent;
  border-color: white;
  padding: 0.25rem 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.common-custom-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: fit-content;

  span {
    margin: 0 0 0 1rem;
  }
}

.common-custom-link-wo-icon {
  span {
    margin: 0;
  }
}

.disable-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 32, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

/* End common */

/* Ultra-wide */
@media (min-width: 2560px) {
  body {
    margin: 0 25%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .popup-bg {
    flex-direction: column;
    justify-content: flex-end;
  }

  body {
    margin: 0;
  }
}
