@import url("https://api.fonts.coollabs.io/css2?family=JetBrains+Mono:wght@300;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 0;
}

a:hover,
svg:hover,
button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(26, 25, 32, 0.5);
  backdrop-filter: blur(4px);
}
