@use "../../../colors" as c;

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .project-info-container {
    width: 100%;
    height: 100%;
    background-color: c.$white;
    overflow: scroll;
    padding: 0 15%;

    .project-info-container-back {
      padding: 2rem 0 0 0;
    }

    .project-info-details-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 0.5rem;

      .project-info-details {
        h1 {
          color: c.$plum;
          font-size: 2rem;
          font-weight: 600;
        }

        span {
          margin: 0.2rem 0.3rem 0.2rem 0;
          font-weight: 100;
        }

        div {
          margin: 0 0 1rem;

          span {
            color: c.$blue_gray;
          }
        }

        .project-info-labels {
          margin: 0 0 1rem;
          display: flex;
          flex-wrap: wrap;

          span {
            color: c.$white;
            background-color: c.$gray;
            padding: 0.5rem;
            border-radius: 0.3rem;
          }
        }
      }

      .project-info-links {
        span {
          color: c.$plum;
        }
      }
    }

    .project-info-images {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;

      img {
        height: 50vh;
        width: auto;
        margin: 0 2rem 0 0;
        cursor: pointer;
      }
    }
  }
}

.project-section {
  width: 55vw;
  max-height: 20vw;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding: 2rem;
  border-radius: 0.3rem;

  .project-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 0.8rem;
      font-weight: 300;
      color: c.$light_yellow;
    }

    h2 {
      font-size: 1.4rem;
      margin: 0 0 1rem;
      color: c.$aqua;
    }

    p {
      font-size: 0.9rem;
      font-weight: 600;
      padding: 1.3rem;
      font-weight: 300;
      box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
      line-height: 1.3;
      background-color: c.$light_yellow;
      color: c.$blue_gray;
    }

    .project-labels {
      margin: 1rem 0 0 0;
      display: flex;
      flex-wrap: wrap;

      span {
        color: c.$gray;
        margin: 0.2rem 0.5rem 0.2rem 0;
        font-weight: 300;
      }
    }
  }

  .project-image {
    width: 75%;
    position: relative;
    left: -2rem;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      // aspect-ratio: 16 / 9;
      filter: grayscale(100%);
      box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
      transition: filter 300ms;
    }
  }
}

.project-section:hover {
  img {
    filter: grayscale(0%);
  }
}

@media (max-width: 768px) {
  .project-container {
    width: 100%;
    align-items: center;

    .project-section {
      position: relative;
      margin: 0 0 1rem;
      width: 85vw;
      height: 45vh;
      max-height: unset;
      margin: 0 0 1.5rem;
      padding: 0;
      overflow: hidden;

      .project-content {
        width: 100%;
        background-color: transparent;
        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
        padding: 0 0 0 1.5rem;

        h3 {
          color: c.$white;
        }

        h2 {
          color: c.$light_yellow;
        }

        p {
          background-color: unset;
          box-shadow: unset;
          padding: 0;
          margin: 0 1rem 0 0;
          color: c.$white;
          font-weight: 600;
        }

        .project-labels {
          span {
            font-size: 0.8rem;
            margin: 0 0.5rem 0 0;
            color: c.$gray;
            font-weight: 600;
            // mix-blend-mode: difference;
          }

          span:last-child {
            margin: unset;
          }
        }
      }

      .project-image {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;

        img {
          height: 100%;
          width: fit-content;
          filter: brightness(40%);
        }
      }
    }
  }

  // ? Why I need !important
  .project-info-container {
    padding: 0 5% !important;
  }

  .project-info-details-container {
    flex-direction: column !important;
  }

  .project-info-images {
    justify-content: center;

    img {
      height: auto !important;
      width: 90vw !important;
      margin: 0 0 2rem !important;
    }
  }

  .project-section {
    margin: 0 0 1rem;
  }
}
